body {
    background-image: url('assets/images/v223_7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
h1 {
    font-family: cursive;
    text-align: center;
}
h2 {
    font-family: cursive;
    text-align: center;
}
